{% extends "base.html" %}
{% block title %}D3 Visualization{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-d3").classed("active", true);
</script>

<link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/tooltip.js"></script>

<H2 class="mt-3">artistBarchart</H2>
<div id="artistBarchart">

</div>

<H2 class="mt-3">Amsterdam Rental Information</H2>

<!-- <form action="/d3"> -->
<select name="area_name" onchange="updateArea(this)">
	{% for area_name in area_names %}
	{% if area_name == selected_area_name %}
	<option selected value="{{ area_name }}">{{ area_name }}</option>
	{% else %}
	<option value="{{ area_name }}">{{ area_name }}</option>
	{% endif %}
	{% endfor %}
</select>
<!-- <input type="submit"> -->
<!-- </form> -->
<div class="mt-3" id="barchart">
</div>
<link rel="stylesheet" type="text/css" href="../static/css/barchart.css">
<script type="text/javascript" src="../static/js/barchart.js"></script>
<script type="text/javascript">
	///////////// GLOBAL VARS /////////////		
	var plot_data;
	var meta_data = {{ meta_data | safe }};
	var x_variables = {{ x_variables | safe}};
	var selected_area = {{ selected_area_name | tojson }};

	var width = 1000;
	var height = 700;
	var MOUSEOVER = false;

	var chart_height = 400,
		chart_width = 700;


	//artistBarchart-begin
	var margin = { top: 20, right: 20, bottom: 30, left: 50 },
		width = 960 - margin.left - margin.right,
		height = 500 - margin.top - margin.bottom;

	var artistSvg = d3.select("#artistBarchart").append("svg")
		.attr("height", height)
		.attr("width", width);

	// set the ranges
	var x = d3.scaleLinear().range([0, width]);
	var y = d3.scaleBand().range([height, 0]).padding(0.1);

	// gridlines in x axis function
	function make_x_gridlines() {
		return d3.axisBottom(x)
			.ticks(5)
	}

	// gridlines in y axis function
	function make_y_gridlines() {
		return d3.axisLeft(y)
			.ticks(5)
			.attr('id', 'test')

	}

	var fetch_url = "/artists_data";
	fetch(fetch_url)
		.then(function (response) { return response.json(); })
		.then((data) => {
			// format the data
			artists = []
			colors = []
			data.forEach(function (d) {
				d.startYear = +d.startYear;
				d.endYear = +d.endYear;
				artists.push(d.artist)
				colors.push(d.color)
			});

			x.domain([d3.min(data, function (d) { return d.startYear; }), d3.max(data, function (d) { return d.endYear; })])
			va = d3.extent(data, function (d) { return d.artist; })
			y.domain(artists)
			console.log(va)

			// add the X grid
			artistSvg.append("g")
				.attr("class", "grid")
				.attr("transform", "translate(20," + height + ")")
				.call(make_x_gridlines()
					.tickSize(-height)
					.tickFormat("")
				)

			// add react
			var chart_group = artistSvg.append("g")
				.attr("id", "chart_group")
				.attr("transform", "translate(" + 100 + "," + 50 + ")");

			// color
			var myColor = d3.scaleOrdinal().domain(artists).range(colors);

			chart_group.selectAll(".artistbar")
				.data(data)
				.enter()
				.append("rect")
				.attr("class", "artistbar")
				.attr("x", function (d) { return x(d.startYear) - 60})
				.attr("y", function (d) { return y(d.artist) + y.bandwidth() / 8 })
				.attr("fill", function (d) { return d.color })
				.attr("width", function (d) { return x(d.endYear) - 60; })
				.attr("height", y.bandwidth() / 4)
				.attr("rx", 15)
				.attr("ry", 20)

			// add the X Axis
			artistSvg.append("g")
				.attr("class", "xAxis")
				.attr("transform", "translate(20," + (height - 20) + ")")
				.call(d3.axisBottom(x))
				.call(g => g.select(".domain").attr('stroke-width', 0));
			// remove());


			// add the Y Axis
			artistSvg.append("g")
				.attr("class", "yAxis")
				.attr("transform", "translate(" + 50 + ",20)")
				.call(d3.axisLeft(y))
				.call(g => g.select(".domain").attr('stroke-width', 0));


			console.log(x.domain)
		});

	//artistBarchart-end


	var svgContainer = d3.select("#barchart").append("svg")
		.attr("height", height)
		.attr("width", width);


	var x = d3.scaleLinear().rangeRound([0, chart_width]),
		y = d3.scaleBand().rangeRound([chart_height, 0]).padding(0.1);

	var index = 0;

	x.domain([0, 100]);
	y.domain(x_variables);

	var x_line = d3.scaleLinear().rangeRound([0, chart_width]),
		y_line = d3.scaleBand().rangeRound([chart_height, 0]).padding(0.1);

	x_line.domain([0, 100]);
	y_line.domain(x_variables);

	// Code for vertical bar chart
	// var x = d3.scaleBand().rangeRound([0, chart_width]).padding(0.1),
	//     y = d3.scaleLinear().rangeRound([chart_height, 0]);

	// Code for vertical bar chart
	// x.domain(x_variables);
	// y.domain([0, 100]);

	updatePlot();
</script>

{% endblock %}